<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>


<% if (errors) { %>
  <ul class="notice">
<% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
<% }) %>    
  </ul>
<% } %>

  <%- messages() %>

  <form action="/inv/delete" method="post" id="delete" form="delete"><br>
  <p>Delete Item</p>  
  <label for="inv_make">Make:</label><br>
  <input type="text" name="inv_make" id="inv_make" required value="<%= locals.inv_make%>"><br>
  <label for="inv_model">Model:</label><br>
  <input type="text" name="inv_model" id="inv_model" required value="<%= locals.inv_model %>"><br>
  <label for="inv_price"> Price:</label><br>
  <input type="text" id="inv_price" name="inv_price" required value="<%= inv_price %>"><br>
  <label for="inv_year"> Year:</label><br>
  <input type="text" id="inv_year" name="inv_year" required value="<%= inv_year %>"><br>
  <button id="submit-btn" type="submit" form="delete" >Delete</button><br>
  <input type="hidden" name="inv_id"
<% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
<% } %>>
  <p>Confirm Deletion - The delete is permanent.</p>
  <input type="submit" name="submit" value="Delete Vehicle">
  </form>
  
  